<!-- ======= Footer ======= -->
<footer id="footer" class="footer">

    <div class="footer-newsletter">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12 text-center">
                    <h4>Our Newsletter</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi deleniti perferendis ad.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="credits">
            Designed by <strong><span>MEENAKSHI MATHUR</span></strong>
        </div>
    </div>
</footer>
<!-- End Footer -->