<!-- ======= Header ======= -->
<header id="header" class="header fixed-top navbar-light bg-white">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-end">

        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto" routerLink="home" routerLinkActive="active">Home</a></li>
                <li><a class="nav-link scrollto" routerLink="about" routerLinkActive="active">About</a></li>
                <li><a class="nav-link scrollto" href="#services" routerLinkActive="active">Services</a></li>
                <li><a class="nav-link scrollto" href="#portfolio" routerLinkActive="active">Portfolio</a></li>
                <li><a class="nav-link scrollto" href="#team" routerLinkActive="active">Team</a></li>
                <li><a href="./">Blog</a></li>
                <li class="dropdown"><a href="#"><span>Drop Down</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a href="#">Content 1</a></li>
                        <li><a href="#">Content 2</a></li>
                        <li><a href="#">Content 3</a></li>
                        <li><a href="#">Content 4</a></li>
                    </ul>
                </li>
                <li><a class="nav-link scrollto" routerLink="contact" routerLinkActive="active">Contact</a></li>
                <li><a class="getstarted scrollto" href="#about" routerLinkActive="active">Get Started</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
    </div>
</header>
<!-- End Header -->